<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <unicorn>
      <configurations>
        <configuration name="Project.$safeprojectname$.Website" description="$safeprojectname$ content" dependencies="Foundation.Serialization,Foundation.Assets,Foundation.Multisite,Feature.Accounts,Feature.Demo,Feature.Identity,Feature.Language,Feature.Media,Feature.Metadata,Feature.Multisite,Feature.Navigation,Feature.News,Feature.PageContent,Feature.Person,Feature.Search,Feature.Social,Feature.Teasers,Project.Common.Website,Project.Demo.Website" patch:after="configuration[@name='Foundation.Serialization']">
          <targetDataStore physicalRootPath="$(sourceFolder)\project\$safeprojectname$\serialization" type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false" singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <include name="$safeprojectname$.Website.Templates" database="master" path="/sitecore/templates/Project/$safeprojectname$" />
            <include name="$safeprojectname$.Website.Renderings" database="master" path="/sitecore/layout/renderings/Project/$safeprojectname$" />
            <include name="$safeprojectname$.Website.Layouts" database="master" path="/sitecore/layout/layouts/Project/$safeprojectname$" />
            <include name="$safeprojectname$.Website.PlaceholderSettings" database="master" path="/sitecore/layout/placeholder settings/Project/$safeprojectname$" />
            <include name="$safeprojectname$.Website.Models" database="master" path="/sitecore/layout/models/Project/$safeprojectname$" />

            <include name="$safeprojectname$.Website.Content" database="master" path="/sitecore/content/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Media" database="master" path="/sitecore/media library/$safeprojectname$"/>

            <include name="$safeprojectname$.Website.Profiling" database="master" path="/sitecore/system/Marketing Control Panel/Profiles/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Outcomes" database="master" path="/sitecore/system/Marketing Control Panel/Outcomes/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.EngagementPlans" database="master" path="/sitecore/system/Marketing Control Panel/Engagement Plans/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Campaigns" database="master" path="/sitecore/system/Marketing Control Panel/Campaigns/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Goals" database="master" path="/sitecore/system/Marketing Control Panel/Goals/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Lists" database="master" path="/sitecore/system/List Manager/All Lists/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Social.Accounts" database="master" path="/sitecore/system/Social/Accounts/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Social.Applications" database="master" path="/sitecore/system/Social/Applications/Default/$safeprojectname$"/>
            <include name="$safeprojectname$.Website.Social.Klout" database="master" path="/sitecore/system/Social/Klout/Applications/Default/$safeprojectname$"/>
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>